{% extends 'index.html' %}
{% load stu_tags %}
{% block page-content %}


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Class: {{studyrecord_obj.student.enrolled_class}} | Time: {{ studyrecord_obj.course_record.day_num }}</div>
  <div class="panel-body">
      <h4>Homework Title: {{studyrecord_obj.course_record.homework_title}}</h4>
      <h4>Homework Detail: <pre> {{studyrecord_obj.course_record.homework_content}} </pre></h4>
      <h4>Teacher Comments: {{studyrecord_obj.memo}}</h4>
      <h4>Score: {{studyrecord_obj.score}}</h4>

      <div class="row">
      <ul>
          {% for record in file_list %}
          <li>name: {{record.0}} | size: {{record.1}}KB | modified time: {{record.2}}</li>
          {% endfor %}
      </ul>
    </div>

      <form id="filedropzone" method="post" action="{{request.path}}" class="dropzone dz-clickable">{% csrf_token %}
                <div class="dz-default dz-message">
                    <div class="dz-icon icon-wrap icon-circle icon-wrap-md">
                        <i class="fa fa-cloud-upload fa-3x"></i>
                    </div>
                    <div>
                        <p class="dz-text">Drag your homework here</p>
                        <p class="text-muted">5MB maximum</p>
                    </div>
                </div>
            </form>
  </div>

</div>

{% endblock %}

{% block bottom-js %}
    <script>
    $(document).ready(function() {
        Dropzone.options.filedropzone = {
        url: "{{request.path}}",
        paramName: "file",
        maxFilesize: 5, //MB
        addRemoveLinks: true,
        maxFiles: 1,
        uploadMultiple: true,
        accept: function(file, done) {
            if(! file.name.endsWith(".jpg")) {
                alert("Only accept .zip file, please try again.");
                done("File should be uploaded!");
                myDropzone.removeFile(file);
            } else {
                done();
            }
        }
        };

        Dropzone.autoDiscover = false;
        myDropzone = new Dropzone("#filedropzone");
        myDropzone.on("addedfile", function(file) {
            console.log("--------", file);
        });

        myDropzone.on("success", function(file, response) {
            console.log("--------", response);
        });
    })

    function RegisterFormCheck() {
        if (myDropzone.files.length < 2) {
            alert("Please upload at least 2 pictures!");
            return false;
        }
        if ($("#check_test").prop("checked")) {
            $("form").find("[disabled]").removeAttr("disabled");
            return true;
        }
        else {
            alert("Must agree on the agreement before moving on");
            return false;
        }
    }



</script>
{% endblock %}